html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

.input {
    width: 50%;
    height: 80%;
    float: left;
}

.output {
    width: 50%;
    height: 80%;
    margin-left: 50%;
}

.output::after {
    content: "";
    clear: both;
}

textarea {
    width: 100%;
    height: 100%;
}

textarea:focus {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

@code-type-border: 1px solid #67ACE7;

.type-bar {
    margin-bottom: 10px;
    .code-type {
        float: left;
        font-size: 12px;
        margin-right: 10px;
        padding: 5px 0;
    }
    button {
        padding: 5px 20px;
        cursor: pointer;
        float: left;
        font-size: 12px;
        background-color: #ffffff;
        border-left: @code-type-border;
        border-top: @code-type-border;
        border-bottom: @code-type-border;
        border-right: none;
    }
    button:last-child {
        border-right: @code-type-border;
    }
    button:focus {
        outline: none !important;
    }
    button:hover {
        background-color: #67ACE7;
        color: #fff;
    }
    .current {
        background-color: #4C9CFA !important;
        color: #fff !important;
        border-right: none !important;
    }
}

.type-bar:after {
    content: "";
    display: block;
    clear: both;
}
